{% extends 'layout.html' %}
{% block title %}用户管理{% endblock %}
{% block activeuser %}class="active"{% endblock %}
{% block container %}
<div class="col-md-10 col-md-offset-2 main">
    <div>
        <form class="form-inline" action="/users/" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="query" value="{{query}}"/>
                <input type="submit" class="btn btn-default" value="查询"/>
                <!--<a href="/createUser/">添加</a>-->
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addUser">
                添加
                </button>
            </div>
        </form>
        </br>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>手机号</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user['username']}}</td>
                    <td>{{user['telephone']}}</td>
                    <td>{{user['age']}}</td>
                    <td>
                        {% if user['sex'] == 1 %}
                            男
                        {% else %}
                            女
                        {% endif %}
                    </td>
                    <td>
                        {% if user['status'] == 0 %}
                            <p style="color:green">正常</p>
                        {% elif user['status'] == 1 %}
                            <p style="color:blue">禁用</p>
                        {% elif user['status'] == 2 %}
                            <p style="color:red">停用</p>
                        {% endif %}
                    </td>
                    <td>
                        <!--
                        <a href="/modifyUser/?id={{user['id']}}">修改</a>
                        <a href="/deleteUser/?id={{user['id']}}">删除</a>
                        -->
                        <button type="button" class="btn btn-link" data-toggle="modal"  data-username="{{user['username']}}" data-telephone="{{user['telephone']}}" 
                        data-age="{{user['age']}}" data-id="{{user['id']}}" data-target="#updateUser">
                        修改
                        </button>
                        <button type="button" class="btn btn-link" data-toggle="modal"  data-username="{{user['username']}}" data-telephone="{{user['telephone']}}" 
                        data-age="{{user['age']}}" data-id="{{user['id']}}" data-target="#deleteUser">
                        删除
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal updateuser-->
<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改用户信息</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" >
          <div class="alert alert-danger" role="alert" id="errormsg-update"></div>
          <input type="hidden" name="id" id='id' />
          <div class="form-group">
            <label for="inputtelephone" class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="telephone" id="inputtelephone">
            </div>
          </div>
          <div class="form-group">
            <label for="inputage" class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="age" id="inputage">
            </div>
          </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="btn-update">保存</button>
        </div>
      </div>  
    </div>
  </div>
</div>

<!-- Modal deleteUser/-->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">删除用户</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="alert alert-danger" role="alert" id="errormsg-del"></div>
          <input type="hidden" name="id" id='id-del' />
          <input type="hidden" name="username" id='username-del' />
          <div class="form-group">
            <label for="inputtelephone" class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="telephone" id="telephone-del" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label for="inputage" class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="age" id="age-del" disabled="disabled">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="btn-delete">删除</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal addUser-->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addUserLabel">新增用户</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" >
          <div class="alert alert-danger" role="alert" id="errormsg-add"></div>
          <div class="form-group">
            <label for="username-add" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="username" id="username-add">
            </div>
          </div>
          <div class="form-group">
            <label for="password-add" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password" id="password-add">
            </div>
          </div>
          <div class="form-group">
            <label for="telephone-add" class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="telephone" id="telephone-add">
            </div>
          </div>
          <div class="form-group">
            <label for="age-add" class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="age" id="age-add">
            </div>
          </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="btn-add">新增</button>
        </div>
      </div>  
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
jQuery(document).ready(function(){
    // 更新用户信息弹框
    $('#updateUser').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var username = button.data('username');
      var modal = $(this);
      jQuery("#errormsg-update").hide();
      modal.find('.modal-title').text('修改用户（' + username +'）的信息');
      modal.find('#id').val(button.data('id'));
      modal.find('#inputtelephone').val(button.data('telephone'));
      modal.find('#inputage').val(button.data('age'));
    });   
    
    // 发送更新请求
    $('#btn-update').on('click',function(){
      var id = $('#id').val(),
          telephone = $('#inputtelephone').val(),
          age = $('#inputage').val();
      jQuery.post('/updateUser/',{
        'id':id,
        'telephone':telephone,
        'age':age
      },function(data){
        //console.log(data);
        if(data['ok']){
            jQuery('#updateUser').hide();
            window.location.reload();
            alert("更新成功");
        }else{
            jQuery("#errormsg-update").text(data['result']);
            jQuery("#errormsg-update").show();
        }
      } , "json");
    });
    
    // 删除用户信息弹框
    $('#deleteUser').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var username = button.data('username');
      var modal = $(this);
      jQuery("#errormsg-del").hide();
      modal.find('.modal-title').text('真的要删除用户（' + username +'）吗？');
      modal.find('#id-del').val(button.data('id'));
      modal.find('#telephone-del').val(button.data('telephone'));
      modal.find('#username-del').val(button.data('username'));
      modal.find('#age-del').val(button.data('age'));
    });
    
    // 发送删除请求
    $('#btn-delete').on('click',function(){
      var id = $('#id-del').val(),
          username = $('#username-del').val();  
      jQuery.get('/deleteUser/',{
        'id':id,
      }, function(data){
        if(data['ok']){
            jQuery('#deleteUser').hide();
            window.location.reload();
            alert("您已删除用户："+ username);
        }else{
            jQuery("#errormsg-del").text(data['result']);
            jQuery("#errormsg-del").show();
        };
      },"json");
    });

    // 新增用户信息弹框
    $('#addUser').on('show.bs.modal', function (event) {
      jQuery("#errormsg-add").hide();
    }); 
    // 发送添加请求
    $('#btn-add').on('click',function(){
      var username = $('#username-add').val(),
          password = $('#password-add').val(),
          telephone = $('#telephone-add').val(),
          age = $('#age-add').val();
      jQuery.post('/addUser/',{
        'username':username,
        'password':password,
        'telephone':telephone,
        'age':age
      },function(data){
        //console.log(data);
        if(data['ok']){
            jQuery('#addUser').hide();
            window.location.reload();
            alert(data['result']);
        }else{
            jQuery("#errormsg-add").text(data['result']);
            jQuery("#errormsg-add").show();
        }
      } , "json");
    });
});
{% endblock %}